.assignment{
     background-color: #f1f5fe;
    display: flex; 
    flex-direction: column;
    width: 70%;
    margin: 50px;
}
.assignment-grid-container{
    display: grid;
    grid-template-columns: auto 150px 150px;
    
}

.assignment-header{
    font-family: "Open Sans";
    font-weight: 400;
    margin-bottom: 15px;
    font-size: medium;
}

.assignment-para1{
    font-family: "Open Sans";
    font-size: medium;
    font-weight: 200;
    margin-bottom: 30px;
}

.assignment-container2{
    text-align: end;
}



.assignment-para2{
    font-family: "Open Sans";
    font-size: medium;
    font-weight: 400;
    margin-bottom: 30px;
}

.assignment-para3{
    font-family: "Oswald";
    font-size: large;
    text-align: end;
    padding-right: 30px;
}

.assignment-para4{
    font-family: "Open Sans";
    font-size: medium;
    font-weight: 200;
}
