
.infohome1-main-container{
    background-color: #f2f6ff;
    padding-bottom: 50px;
  
}
.infohome1-main-container > h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 27px;
}


.infohome1-subcontainer1{
    display: flex;
    background-color: white;
    border: 1.7px solid #9fcee2;
    justify-content: space-around;
    padding: 34px 70px 34px 0px;
    border-radius: 7px;
    width: 80%;
}

.infohome1-subcontainer1:hover{
    transform: scale(1.1);
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.6),
    -30px 0px 40px rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

.infohome1-container3{
    display: flex;
    
}

.infohome1-container3 > img{
height: 100px;
padding-right: 40px;
}
.infohome1-subcontainer3{
    text-transform: uppercase;
}
.infohome1-subcontainer3> h1{
    font-family: "Open Sans";
    font-size: medium;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 15px;
}

.infohome1-span-1{
    background-color: #f5f5f5;
    font-size: 10px;
    padding: 8px;
    border-radius: 14px;
    margin-left: 20px;
    margin-bottom: 30px;
    
}
.infohome1-span-2{
    font-size: 12px;
    background-color: #cceeff;
    padding: 8px;
    border-radius: 14px;
    
}

.infohome1-subcontainer4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
}

.infohome1-subcontainer4 > button{
    border: 1.7px solid #9fcee2;
    background-color: white;
    color: #40abd9;
    height: fit-content;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    margin-left: 50px;
    font-size: x-small;
    text-transform: uppercase;
}


.infohome1-subcontainer4 > button:hover{
    background-color: #40abd9;
    color: white;
}

.infohome1-subcontainer5{
    font-size: 14px;
    font-weight: 400;
   
}
.infohome1-subcontainer5 > p{
    margin-bottom: 15px;
}

.infohome1-subcontainer6{
    display: flex;
    margin-bottom: 15px;
}
.infohome1-span-3{
    background-color: #dfe6f2;
    padding: 3px 7px;
    text-align: center;
    margin-left: 15px;
    border-radius: 10px;
}