.navbar-module{
    width: fit-content;
    height: 100vh;
    background-color: #e0e6f2;
}
.module-info{
    display: flex;
    padding: 20px 45px 20px 48px;
}
.module-info >img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    pointer-events: none;
}
.module-info > p{
    color: black;
    padding-top: 5px;
    pointer-events: none;
}

.para-module {
    text-decoration: none;
    
}

.active-module{
    display: flex;
    padding: 20px 45px 20px 48px;
    background-color: #cbd3e1;
}

.active-module >img{
    height: 30px;
    width: 30px;
    margin-right: 20px;

}
.active-module > p{
    color: black;
    padding-top: 5px;
}