.session-container{
    background-color: white;
    border: 1.7px solid #9fcee2;
    height: 340px;
    padding: 20px;
    border-radius: 0px 6px 6px 6px;
}
.h-session{
    font-family: "Open Sans";
    margin-bottom: 15px;
}
.h1-session{
    font-family: "Open Sans";
    font-size: small;
}
.p-session{
    font-family: "Open Sans";
    font-weight: 200;
    font-size: small;
    margin-bottom: 20px;
}
.ol{
    padding: 15px;
}

.p2-session{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: x-small;
    padding: 10px 27px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 10px;
    background-color: #efefef;
}